$MAIN-color: #4679ab;
$blue-lite: #75C2F6;
$blue-lite-two: #b7d9f0;
$blue-lite-three: #e5f0f7;
$blue-lite-four: #f4f9fc;
$white: #ffffff;
$white-dirty: #dcdcdc;
$black: #000000;
$black-litle: #282828;
$pink: #FEDEFF;
$CTA-color: #6f36ff;
$CTA-color-lite: #683fcf7e;
$CTA-color-lite2: #683fcfc5;
$litle-yellow: #FBEEAC;
$bg-white: #FFFFFF;
$fb: #4267B2;
$instagram: #C13584;
$bg-sections: #f1fafe;
$bg-contact-box: #edf0fa8b;
$bg-contact-box-darker: #edf0fa;
$footer-bg: #4f92bc;
$footer-bg-light: #80B6D8;
$footer-black: #212121;


// $media-bar-footer: #697d82;





$bg-offer-section: #ffffffcc;
$bg-white-transparent: #f6f6f674;
$black-text: #333333;
$black-text-brighter: #7d7d7d;
$main-pink: #9ed3f6;
$main-pink-btn: #eb3dae;
$yellow: #FAD075;
$blue: #65ADF0;
$orange: #FACA8E;
$h1-heading: #FFFFFF;
$little-gray: #d0d0d0;
$little-gray-darker: #bcbcbc;
$little-white-section: #ececec;
$white-table-price-list: white;
$little-white-table-price-list: rgb(238, 238, 238);
$blog: #e0dfdf;
$white-button: #ffffff;